<% layout("layouts/boilerPlate") %>
<div class="row mt-3">
    <div class="col-8 offset-2"> <!--off left se space -->
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
       <div class="mb-3">
        <label for="title" class="form-label"> Title</label>
        <input type="text" name="Listing[title]" placeholder="Add a Catchy  title" class="form-control" required>
        <div class="valid-feedback">
            Title Looks good!
        </div>
       </div>

       <div class="mb-3">
        <label for="description" class="form-label"> Description</label>
        <textarea name="Listing[description]" id="" cols="30" rows="5" placeholder="enter description" class="form-control" required></textarea>
        <div class="invalid-feedback">
            please enter a short description
        </div>
       </div>
       
       <div class="mb-3">
        <label for="image" class="form-label">Upload Image </label>
        <input type="file" name="Listing[image]" class="form-control" required>
       </div>
       

       <div class="row">

        <div class="mb-3 col-md-4">
            <label for="price" class="form-label"> Price</label>
            <input type="number" name="Listing[price]" placeholder="1200" class="form-control" required>
            <div class="invalid-feedback">
                price Should be valid !
            </div>
           </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label"> country</label>
            <input type="text" name="Listing[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback">
                country name Should be valid !
            </div>
         </div>

       </div>
       
       <div class="mb-3">
        <label for="location" class="form-label"> location</label>
        <input type="text" name="Listing[location]" placeholder="enter the location" class="form-control" required >
        <div class="invalid-feedback">
            location Should be valid !
        </div>
       </div>
        <div class="mb-3 col-md-4">
            <label for="option" class="form-label"> Any special place And Tracking ?</label>
            <select class="form-select" aria-label="Default select example" name="Listing[option]" required>
                <option value="Mountains"  >Mountains</option>
                <option value="Camping">Camping</option>
                <option value="Domes">Domes</option>
                <option value="Boats">Boats</option>
                <option value="Rooms">Rooms</option>
                <option value="Castles">Castles</option>
                <option value="Pools">Pools</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="None">None</option>
              </select>
        </div>
        <button class="btn btn-danger col-md-4 offset-4 mb-3">Add Listing</button>
    </form>
</div>
</div>